@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles for MedScribe AI */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-outfit), sans-serif;
}

body {
  font-family: var(--font-plus-jakarta), sans-serif;
}

.btn-nordic {
  @apply bg-black text-white px-8 py-3 text-xs font-bold uppercase tracking-[0.2em] shadow-2xl shadow-black/5 hover:bg-slate-800 transition-all rounded-full;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mono-data {
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}

/* Custom Thin Scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}